<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
  </head>
  <body>
    <h1>Hello, you are about to have the most awesome experience ever!</h1>
  <h2> Log-in here!</h2>
  <form action = "login/add" method = "post">
  <input type="text" name = "name" placeholder = "name"/>
  <input type="password" name = "password" placeholder = "password"/>
  <input type = "submit" placeholder = "Submit"/>
  </form>
  </body>
</html>
